html {
  box-sizing: border-box;
  font-size: 62.5%;
}
html *,
html *::before *::after {
  box-sizing: inherit;
}
html body {
  overflow-x: hidden;
  font-family: arial, sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}
html body a {
  text-decoration: none;
}
html body img {
  max-width: 100%;
}
html body h1 {
  font-size: 4rem;
}
html body h2 {
  font-size: 3.5rem;
}
html body h3 {
  font-size: 2.5rem;
}
html body .container {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
}
html body .shadow {
  box-shadow: 5px 4px 14px 1px #9194a1;
  -webkit-box-shadow: 5px 4px 14px 1px #9194a1;
  -moz-box-shadow: 5px 4px 14px 1px #9194a1;
}

.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto;
}
.header__nav-container-list {
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
}
.header__nav-container-list-button {
  color: #252b46;
  padding: 1rem 3rem;
}
.header__nav-container-list-button:hover {
  cursor: pointer;
  color: #5368df;
}
.header__nav-container-list-button--login {
  color: #f7f7f7;
  background-color: #fa5757;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  border: 2px solid transparent;
}
.header__nav-container-list-button--login:hover {
  cursor: pointer;
  background-color: #f7f7f7;
  color: #fa5757;
  border-color: #fa5757;
}

.hero {
  display: flex;
  margin: 8rem auto;
  gap: 5rem;
}
.hero__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero__main-text {
  font-size: 2rem;
  color: #9194a1;
  line-height: 3.5rem;
}
.hero__main-button {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2rem;
  margin: 2rem 0;
  font-weight: 650;
}
.hero__main-button--chrome, .hero__main-button--firefox {
  padding: 2rem 3rem;
  border-radius: 0.6rem;
  border: 2px solid transparent;
}
.hero__main-button--chrome {
  background-color: #5368df;
  color: #f7f7f7;
}
.hero__main-button--chrome:hover {
  cursor: pointer;
  background-color: #f7f7f7;
  color: #5368df;
  border-color: #5368df;
}
.hero__main-button--firefox:hover {
  cursor: pointer;
  background-color: #f7f7f7;
  color: #5368df;
  border-color: #5368df;
}
.hero__shape {
  flex: 1;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    flex: 1;
  }
  .hero__info {
    width: 80%;
    margin: 1rem auto;
    order: 2;
    align-items: center;
    justify-content: space-evenly;
  }
  .hero__info-title, .hero__info-text {
    text-align: center;
  }
  .hero__info-button {
    margin: 2rem auto;
  }
  .hero__info-button--chrome, .hero__info-button--firefox {
    padding: 2rem;
  }
  .hero__shape {
    order: 1;
  }
  .hero__shape::before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 30%;
    left: 30%;
    height: 70%;
    width: 100vw;
    border-bottom-left-radius: 15rem;
    background-color: #5368df;
  }
}
@media only screen and (min-width: 768px) {
  .hero__shape::before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 30%;
    left: 30%;
    height: 70%;
    width: 100vw;
    border-bottom-left-radius: 15rem;
    background-color: #5368df;
  }
}
.footer {
  position: relative;
}
.footer::before {
  position: absolute;
  content: "";
  background-color: #252b46;
  width: 100vw;
  height: 100%;
  z-index: -1;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin-left: 15vw;
  margin-right: 15vw;
  max-width: 1200rem;
}
.footer_container-nav {
  display: flex;
  align-items: center;
  gap: 8rem;
}
.footer_container-nav-logo {
  width: 150px;
  height: auto;
}
@media (max-width: 768px) {
  .footer_container-nav-logo {
    width: 100px;
  }
}
.footer_container-nav-link {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #f7f7f7;
}
.footer_container-nav-link:hover {
  cursor: pointer;
  color: #fa5757;
}
.footer_container-social {
  display: flex;
  gap: 2rem;
}
.footer_container-social-facebook:hover, .footer_container-social-twitter:hover {
  cursor: pointer;
  filter: invert(0.7) sepia(72%) saturate(983%) hue-rotate(319deg) brightness(119%) contrast(97%);
}
.footer_container-social-facebook img, .footer_container-social-twitter img {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 768px) {
  .footer_container {
    padding: 2rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .footer_container-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  .footer_container-nav-logo {
    width: 150px;
    margin-bottom: 1rem;
  }
  .footer_container-social {
    margin: 1.5rem auto 0 auto;
  }
  .footer_container-social img {
    width: 18px;
    height: 18px;
  }
}

/*# sourceMappingURL=main.css.map */
