
//COLORS
$primary-color: #5368df;
$secondary-color: #fa5757;
$text-color: #252b46;
$semi-transparent-bg: rgba(26,48,96,0.95);
$light-text: #9194a1;
$light-bg: #f7f7f7;
//FONTS
$font-family: arial, sans-serif ;
//BREAKPOINTS
$brreakpoint-sm: 768px;